*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: black;
}
.bg-video{
    position: fixed;
    z-index: -1;
    height: 100%;
    width: 100%;
}
#video{
    height: 100%;
    width: 100%;
  object-fit: cover;
}
#main{
    height: 100%;
    width: 100%;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#centerData{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
#cityName{
    font-size: 35px;
}
#temp{
    font-size: 100px;
    font-weight: 0;
}
#hourlyUI{
    height: 17%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    color: white;
    overflow-x: scroll;
    background: rgba(255, 255, 255, 0.151);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px); /* Safari */
    border-radius: 16px;
}
#dailyUI{
    height: 17%;;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    color: white;
    overflow-x: scroll;
    background: rgba(255, 255, 255, 0.151);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px); /* Safari */
    border-radius: 16px;
}
#hourlyUI li{
    height: 100px;
    min-width: 100px;
    padding: 24px;
    font-size: 15px;
    flex-shrink: 0;
}

#dailyUI li{
    height: 100px;
    min-width: 100px;
    padding: 14px;
    font-size: 17px;
    flex-shrink: 0;
}
#startBtn{
    height: 100vh;
    width: 100vw;
    background-color: white;
    border:none;
    display: flex;
    align-items: center;
    justify-content: center;
}
#startBtn button{
    height: 150px;
    width: 150px;
    background-color: red;
    color: white;
    border-radius: 75px;
    border: none;
}