*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: black;
}
.bg-video{
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
}
#video{
    height: 100%;
    width: 100%;
  object-fit: cover;
}
#main{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#centerData{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
#cityName{
    font-size: 35px;
}
#temp{
    font-size: 100px;
    font-weight: 0;
}
#hourlyUI{
    height: 25%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    color: white;
    overflow-x: scroll;
}
#dailyUI{
    height: 25%;;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    color: white;
    overflow-x: scroll;
}
#hourlyUI li{
    height: 100px;
    width: 100px !important;
    background: rgba(255, 255, 255, 0.151);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px); /* Safari */
    border-radius: 16px;
    padding: 20px;
    font-size: 17px;
}
#dailyUI li{
    height: 100px;
    width: 100px!important;
    background: rgba(255, 255, 255, 0.151);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px); /* Safari */
    border-radius: 16px;
    padding: 14px;
    font-size: 13px;
}

